ExternalVESC/VESC/Service References/ServiceReference/VescService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Request.RazonSocial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Request.RazonSocial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Common" />
  <xs:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Entities" />
  <xs:complexType name="GetRazonSocialRequestDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Common" base="q1:RequestBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdRazonSocial" type="xs:int" />
          <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRazonSocialRequestDTO" nillable="true" type="tns:GetRazonSocialRequestDTO" />
  <xs:complexType name="GetRazonSocialResponseDTO">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Entities" minOccurs="0" name="ListaRazonSocial" nillable="true" type="q2:ArrayOfRazonSocialDTO" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRazonSocialResponseDTO" nillable="true" type="tns:GetRazonSocialResponseDTO" />
</xs:schema>