ExternalVESC/VESC/Service References/ServiceReference/VescService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VescService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Request.Account" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Common" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Response.Account" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Request.Empleado" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Entities" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Response.Empleado" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Request.Padron" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Response.Padron" />
      <xsd:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Request.RazonSocial" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVescService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IVescService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IVescService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_SendPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPassword" />
  </wsdl:message>
  <wsdl:message name="IVescService_SendPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IVescService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_AltaEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaEmpleado" />
  </wsdl:message>
  <wsdl:message name="IVescService_AltaEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_EditEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmpleado" />
  </wsdl:message>
  <wsdl:message name="IVescService_EditEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_AltaDependiente_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaDependiente" />
  </wsdl:message>
  <wsdl:message name="IVescService_AltaDependiente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaDependienteResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_BuscarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IVescService_BuscarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_ConsultaPadron_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaPadron" />
  </wsdl:message>
  <wsdl:message name="IVescService_ConsultaPadron_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaPadronResponse" />
  </wsdl:message>
  <wsdl:message name="IVescService_GetRazonSocial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRazonSocial" />
  </wsdl:message>
  <wsdl:message name="IVescService_GetRazonSocial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRazonSocialResponse" />
  </wsdl:message>
  <wsdl:portType name="IVescService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/Login" message="tns:IVescService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/LoginResponse" message="tns:IVescService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/Logout" message="tns:IVescService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/LogoutResponse" message="tns:IVescService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/SendPassword" message="tns:IVescService_SendPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/SendPasswordResponse" message="tns:IVescService_SendPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/ChangePassword" message="tns:IVescService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/ChangePasswordResponse" message="tns:IVescService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/AltaEmpleado" message="tns:IVescService_AltaEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/AltaEmpleadoResponse" message="tns:IVescService_AltaEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/EditEmpleado" message="tns:IVescService_EditEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/EditEmpleadoResponse" message="tns:IVescService_EditEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaDependiente">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/AltaDependiente" message="tns:IVescService_AltaDependiente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/AltaDependienteResponse" message="tns:IVescService_AltaDependiente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/BuscarEmpleado" message="tns:IVescService_BuscarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/BuscarEmpleadoResponse" message="tns:IVescService_BuscarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaPadron">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/ConsultaPadron" message="tns:IVescService_ConsultaPadron_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/ConsultaPadronResponse" message="tns:IVescService_ConsultaPadron_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRazonSocial">
      <wsdl:input wsaw:Action="http://tempuri.org/IVescService/GetRazonSocial" message="tns:IVescService_GetRazonSocial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVescService/GetRazonSocialResponse" message="tns:IVescService_GetRazonSocial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVescService" type="tns:IVescService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IVescService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IVescService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPassword">
      <soap:operation soapAction="http://tempuri.org/IVescService/SendPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IVescService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleado">
      <soap:operation soapAction="http://tempuri.org/IVescService/AltaEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmpleado">
      <soap:operation soapAction="http://tempuri.org/IVescService/EditEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaDependiente">
      <soap:operation soapAction="http://tempuri.org/IVescService/AltaDependiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IVescService/BuscarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaPadron">
      <soap:operation soapAction="http://tempuri.org/IVescService/ConsultaPadron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRazonSocial">
      <soap:operation soapAction="http://tempuri.org/IVescService/GetRazonSocial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VescService">
    <wsdl:port name="BasicHttpBinding_IVescService" binding="tns:BasicHttpBinding_IVescService">
      <soap:address location="http://localhost:4063/VescService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>