ExternalVESC/VESC/Service References/ServiceReference/VescService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Request.Empleado" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Request.Empleado" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Entities" />
  <xs:import schemaLocation="http://localhost:4063/VescService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Common" />
  <xs:complexType name="AltaEmpleadoRequestDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Common" base="q1:RequestBaseDTO">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Entities" minOccurs="0" name="ListaEmpleado" nillable="true" type="q2:ArrayOfEmpleadoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AltaEmpleadoRequestDTO" nillable="true" type="tns:AltaEmpleadoRequestDTO" />
  <xs:complexType name="EditEmpleadoRequestDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Common" base="q3:RequestBaseDTO">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Entities" minOccurs="0" name="ListaEmpleado" nillable="true" type="q4:ArrayOfEmpleadoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditEmpleadoRequestDTO" nillable="true" type="tns:EditEmpleadoRequestDTO" />
  <xs:complexType name="BuscarEmpleadoRequestDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Common" base="q5:RequestBaseDTO">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VESCServices.ENT.Entities" minOccurs="0" name="Filtro" nillable="true" type="q6:FiltroBusquedaEmpleadoDTO" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarEmpleadoRequestDTO" nillable="true" type="tns:BuscarEmpleadoRequestDTO" />
</xs:schema>